.footer {
  background: var(--general-bg);
  padding: 67px 0 30px;
  position: relative;
}

.footer__dividing-line {
  position: absolute;
  top: 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__img {
  max-width: 287px;
}

.footer__img img {
  width: 100%;
}

.footer__info-inner {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.footer__meta {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.footer__meta-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__mail-link {
  color: #4ABCEC;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.footer__meta-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
}

.footer__socials-text {
  color: #747D81;
  font-size: 10px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footer__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer__bottom {
  display: flex;
  padding: 60px 0 0 0;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.footer__bottom-text {
  text-align: center;
  font-size: 14px;
  font-weight: 450;
  line-height: 21px;
  background: linear-gradient(180deg, #FFF 65.96%, rgba(105, 104, 104, 0.00) 100%);
  background-clip: text;
  flex-shrink: 1;
}

.line__left {
  position: absolute;
  top: 46%;
  left: -35%;
  width: 784px;
  height: 1px;
  background: rgba(0, 224, 255, 0.20);
}

.line__right {
  position: absolute;
  top: 46%;
  right: -35%;
  width: 784px;
  height: 1px;
  background: rgba(0, 224, 255, 0.20);
}

.footer__bottom-img {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.footer__bottom-img span {
  color: #747D81;
  font-size: 10px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}