
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Avenir Next Cyr", sans-serif;
  line-height: normal;
  color: #fff;
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 22px 13px 25px;

  border-radius: 9px;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
  box-shadow: 0px 7px 20px -7px #00E0FF;
  letter-spacing: 3px;

  color: #fff;
}

/* .title {
  font-family: var(--second-family);
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
} */
