.header {
  background: linear-gradient(286deg, #022335 3.63%, #043A41 90.98%), url(../img/decor/bg-header.png) 70% 100% / cover no-repeat;
  background-blend-mode: lighten;
  position: relative;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__top {
  padding-top: 50px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 287px;
}

.header__logo img {
  width: 100%;
}

.header__contact-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}


/* -------------------Хэдр-боди----------------------------------------- */

.header__hero {
  padding-top: 155px;
  position: relative;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 77px;
}

.hero__content {
  font-size: 18px;
  line-height: normal;
}

.hero__welcom {
  color: #747D81;
  font-weight: 600;
}

.hero__title {
  font-size: 108px;
  font-weight: 600;
  background: linear-gradient(180deg, #FFF 31.75%, #1A3031 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__content-text {
  font-weight: 450;
  max-width: 580px;
}

.hero__deploma {
  display: flex;
  flex-direction: column;
  margin-bottom: 178px;
  position: relative;
}

.hero__deploma-inner {
  display: flex;
  gap: 33px;
  align-items: start;
  margin-bottom: 100px;
}

.hero__deploma-img {
  flex-shrink: 0;
  width: 71px;
}

.hero__deploma-img img {
  width: 100%;
}

.hero__deploma-text {
  color: var(--header-text);
  font-family: "Avenir Next Cyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  max-width: 472px;
}

.hero__deploma-text span:first-child {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}

.hero__deploma-text span {
  color: var(--header-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.hero__deploma-button {
  max-width: 479px;
}

.hero__deploma-elips {
  position: absolute;
  transform: rotate(-90deg);
  flex-shrink: 0;
  bottom: 10%;
  right: 44%;

  display: flex;
  align-items: center;
  gap: 30px;
}

.hero__deploma-elips span {
  color: #747D81;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.hero__deploma-elips-img {
  width: 20px;
  height: 37px;
  flex-shrink: 0;
  display: flex;
  border-radius: 60px;
  border: 1px solid #4A8BEC;
  background: rgba(196, 196, 196, 0.00);
  position: relative;
  transform: rotate(-90deg);
}

.hero__deploma-elips-img img {
  position: absolute;
  top: 37%;
  right: -34%;
}

.hero__consultation {
  position: absolute;
  top: 2%;
  left: -2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 118px;
}

.hero__consultation span {
  transform: rotate(-90deg);
  color: var(--header-text);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.hero__consultation-img {
  background: linear-gradient(180deg, #03e1ffa8, #13CDC2 100%);
  filter: drop-shadow(0px 7px 20px #00E0FF);
  border-radius: 50%;
  position: relative;
  width: 80px;
  height: 80px;
}

.hero__consultation-img img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24%;
  left: 26%;
}