@import "./fonts.css";
@import "./reset.css";
@import "./global.css";

@import "./header.css";
@import "./footer.css";

/* ---------------------------------------------- */



.about {
  background: var(--general-bg);
}

.about__inner {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 58px;
}

.about__title span {
  color: #4ABCEC;
  font-weight: 400;
  text-transform: uppercase;
}

.about__body {
  display: flex;
  flex-direction: column;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.about__grid-list {
  border-radius: 20px;
  border: 2px solid #49B9E8;
  background: linear-gradient(180deg, #00e0ff1c, #00e0ff0d);
  padding: 36px 31px 37px 42px;
  transition: all .4s;
}

.about__grid-list:hover {
  border: 2px solid #03e1ffa8;
}

.about__grid-icons {
  margin-bottom: 15px;
}


.about__grid-text {
  font-size: 15px;
  font-weight: 400;
}

.about__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.about__bottom-list {
  border-radius: 20px;
  border: 2px solid #49B9E8;
  background: linear-gradient(180deg, #00e0ff1c, #00e0ff0d);
  padding: 44px 42px 30px 38px;
  transition: all .4s;
}

.about__bottom-list:hover {
  border: 2px solid #03e1ffa8;
}

.about__bottom-icons {
  margin-bottom: 15px;
}

.about__bottom-text {
  font-size: 15px;
  font-weight: 400;
}

/* -----------------Мейн Вторая секция------------------------------------------------------------------ */

.general {
  background: linear-gradient(286deg, #022335, #043A41), url(../img/decor/bg-section.png) 100% 70% no-repeat;
  background-blend-mode: lighten;
}


.general__inner {
  display: flex;
  flex-direction: column;
}

.general__title {
  margin-bottom: 64px;
  color: #4ABCEC;
}

.general__title span {
  color: #fff;
}

.general__body {}

.general__body-item {
  display: flex;
  flex-direction: column;

  gap: 5px;
  margin-bottom: 70px;
}

.general__body-list {
  display: flex;
  padding: 20px 15px 24px;
  max-width: 692px;
  gap: 20px;
  background: linear-gradient(90deg, #1f3f4d8a, #1f4b5e00);
  align-items: start;
}

.general__body-img {}

.general__body-text {
  font-size: 15px;
  font-weight: 450;
  line-height: 21px;
}

.general__body-button {
  max-width: 479px;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

@media (max-width:1500px) {

  /*------------------- Хедр-боди--------------------------------------------- */

  .hero__consultation {
    top: 2%;
    right: -95%;
    flex-direction: column;
  }
}

@media (max-width:1200px) {

  /* ---------------Футер-боттом(1200px)------------------------------------------------------- */
  .line__left, .line__right {
    width: 700px;
  }
}

@media (max-width:1100px) {
  .hero {
    display: flex;
  }

  .hero__deploma-elips {
    bottom: 5%;
    right: -4%;
  }

  .hero__consultation {
    top: 30%;
    left: -10%;
  }

  /* ---------------Мейн Первая секция(1100px)----------------------------------------------------- */
  .main__about {
    padding: 90px 0 121px;
  }

  .about__inner {
    align-items: center;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__grid {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  /* -----------------Мейн Вторая секция(1100px)------------------------------------------------------------------ */

  .general__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ---------------Футер-боттом(1100px)------------------------------------------------------- */
  .line__left, .line__right {
    width: 550px;
  }
}

@media (max-width:900px) {
  .header__hero {
    padding-top: 80px;
  }

  /* ----------------------Футер (900px)------------------------------------------------------- */
  .footer {
    padding: 45px 0 30px;
  }

  .footer__inner {
    gap: 40px;
    flex-direction: column;
  }

  .footer__info-inner {
    align-items: center;
  }

  /* ---------------Футер-боттом(900px)------------------------------------------------------- */
  .line__left, .line__right {
    width: 450px;
  }
}

@media (max-width:800px) {
  .hero__title {
    font-size: 80px;
  }

  .hero__consultation {
    flex-direction: row;
    top: 79%;
    left: -100%;
    gap: 10px;
    position: absolute;
    padding: 20px;
  }

  .hero__consultation-img {
    width: 60px;
    height: 60px;
  }

  .hero__consultation-img img {
    width: 30px;
    height: 30px;
  }

  .hero__consultation span {
    transform: none;
  }

  /* ---------------Мейн Первая секция(800px)----------------------------------------------------- */
  .about__inner {
    align-items: normal;
  }

  .about__grid {
    grid-template: none;
  }

  .about__grid-list, .about__bottom-list {
    padding: 20px 15px 20px 20px;
  }

  .about__bottom {
    grid-template-columns: none;
  }

  /* -----------------Мейн Вторая секция(800px)------------------------------------------------------------------ */
  .main__about,
  .main__general {
    padding: 70px 0 90px;
  }

  .general {
    background-position: 50% 70%;
  }

  .general__inner {
    align-items: start;
  }

  .general__title {
    font-size: 42px;
    margin-bottom: 40px;
  }


  /* ---------------Футер-боттом(800px)------------------------------------------------------- */
  .line__left, .line__right {
    display: none;
  }
}

@media (max-width:600px) {

  /* -----------------Хэдр-топ(600px)----------------------------------------- */

  .header__top-inner {
    gap: 50px;
    flex-direction: column;
  }

  /* -------------------Хедр-боди(600px)----------------------------------------------- */
  .hero__inner {
    gap: 30px;
  }

  .hero__content {
    font-size: 14px;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__deploma-inner {
    margin-bottom: 30px;
    gap: 20px;
  }

  .hero__deploma-img {
    width: 60px;
  }

  .hero__deploma-text {
    font-size: 14px;
  }

  .hero__deploma-elips {
    bottom: 5%;
    right: -4%;
    transform: none;
    bottom: -35%;
    right: 40%;
  }

  .hero__deploma-button {
    letter-spacing: 0px;
  }

  /* ---------------Мейн Первая секция(600px)----------------------------------------------------- */
  .main__about {
    padding: 50px 0 60px;
  }

  .about__title {
    margin-bottom: 20px;
    font-size: 43px;
  }

  /* -----------------Мейн Вторая секция(600px)------------------------------------------------------------------ */


  .general__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .general__body-button {
    letter-spacing: 0px;
  }

  /* ----------------------Футер (600px)------------------------------------------------------- */
  .footer__inner {
    gap: 35px;
  }

  .footer__meta {
    gap: 25px;
    align-items: start;
    flex-direction: column;
  }

  .footer__info-inner {
    gap: 30px;
  }

  .footer__socials {
    gap: 10px;
  }

}

@media (max-width:450px) {

  /* -----------------Хэдр-топ(450px)----------------------------------------- */
  .header {
    background-position: 63% 100%;
  }


  .header__top {
    padding-top: 25px;
  }

  .header__top-inner {
    gap: 30px;
  }

  /* -------------------Хедр-боди(450px)----------------------------------------------- */

  .header__hero {
    padding-top: 40px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .hero__title {
    font-size: 45px;
  }

  .hero__deploma-img {
    display: none;
  }

  .hero__deploma-elips {
    bottom: -32%;
    right: 26%;
  }

  /* -------------------Модальное-окно---------------------------------------------------------- */
  .modal {
    padding: 10px;
  }

  .modal__window {
    padding: 0 40px 40px;
  }

  /* ---------------Мейн Первая секция(450px)----------------------------------------------------- */

  .about__title {
    font-size: 32px;
  }

  /* -----------------Мейн Вторая секция(450px)------------------------------------------------------------------ */

  .general {
    background-position: 50% 80%;
    background-size: contain;
  }
  .general__body-button {
    margin-top: 86%;
  }

  /* ---------------Футер-боттом(450px)------------------------------------------------------- */

  .footer__bottom {
    padding: 35px 0 0 0;
  }
}