.block {
  background: gray;
  width: 100%;
  height: 120px;
}

.inline-1 {
color: #fff;
}

.inline-2 {
color: #971577;
}

.square {
  width: 100px;
  height: 100px;
  background: #a70606;
}

/* Вторая секция */

.block-2 {
  width: 300px;
  height: 80px;
  background: #800080;
}

.text {
  color: #fff;
  background: #971577;
}